  $black-bkg: #222222;
  $pink-bkg: #F1E4E6;
  $pink-color: #F16D7F;
  $sales-color: #534A47;
  $white-color: #FFFFFF;
  $grey-color: #9F9F9F;
  $menu-grey-color: #6F6E6E;
  $darkgrey-color: #5D5D5D;
  $header-icon: #E8E8E8;
  $products-bkg: #F8F8F8;
  $advantages-color: #FBFBFB;
  $btn-pink-hover: #E05C6E;
  $headline-color: #F8F3F4;
  $shopping-input-grey: #A4A4A4;
  $shopping-text-grey: #B1B1B1;

  $desktop-width: 1599px;
  $tablet-mid-width: 1240px;
  $tablet-width: 767px;
  $mobile-width: 339px;

