/*страница REGISTRATION/CARD*/
.headline {
  background: $headline-color;

  .headline__wrp {
    min-height: 148px;
    display: flex;
    align-items: center;

    @include mobile {
      justify-content: center;
    }
  }

  .headline__title {
    @include font (24px, 29px);
    text-transform: uppercase;
    color: $pink-color;
  }
}

