/*PRODUCTS*/
.products {

  .products__title {
    @include font(30px, 36px);
    text-align: center;
    margin-top: 96px;

    @include tablet {
      margin-top: 155px;
    }

    @include mobile {
      margin-top: 64px;
    }
  }

  .products__title-link {
    color: $black-bkg;
    text-decoration: none;
  }

  .products__title-link:hover,
  .products__title-link:focus {
    cursor: pointer;
    color: $pink-color;
  }

  .products__title-link:active {
    opacity: 0.7;
  }

  .products__sub-title {
    @include font (14px, 17px);
    color: $grey-color;
    text-align: center;
    margin-bottom: 48px;

    @include tablet {
      margin-bottom: 72px;
    }

    @include mobile {
      margin-bottom: 65px;
    }
  }

  .products__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;

    @include tablet {
      justify-content: space-evenly;
      gap: 16px;
    }

    @include  mobile {
      justify-content: center;
    }
  }

  .products__list-margin {
    margin: 128px 0;

    @include mobile {
      margin: 65px 0;
    }
  }

  .products__item {
    max-width: 360px;
    width: 100%;
    background-color: $products-bkg;

    @include tablet {
      width: 48%;
    }

    @include mobile {
      width: 100%;
    }
  }

  .products__item-display-none {
    @include tablet {
      display: none;
    }
  }

  .products__item-overlay {
    position: relative;
  }

  .products__item-overlay:before {
    content: '';
    width: 100%;
    height: 100%;
    background: #3A3838DB;
    position: absolute;
    top: 0;
    display: none;
  }

  .products__item-img {
    width: 100%;
  }

  .products__item-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid  $white-color;
    background: none;
    padding: 10px 16px 8px 13px;
    @include font (14px, 17px);
    color:  $white-color;
    display: none;
  }

  .products__item:hover .products__item-overlay:before,
  .products__item:hover .products__item-btn {
    display: block;
  }

  .products__item-btn:focus,
  .products__item-btn:hover {
    border: 1px solid $pink-color;
    background: $pink-color;
    cursor: pointer;
  }

  .products__item-btn:active {
    opacity: 0.7;
  }

  .products__item-basket {
    height: 24px;
    width: 26px;
    margin-right: 11px;
    vertical-align: middle;
  }

  .products__item-title {
    @include font (13px, 16px);
    text-transform: uppercase;
    margin: 24px 29px 0 17px;
  }

  .products__item-text {
    font-weight: 300;
    color: $darkgrey-color;
    margin: 13px 29px 0 17px;
  }

  .products__item-price {
    @include font (16px, 19px);
    color: $pink-color;
    margin: 18px 29px 20px 17px;
  }

  .products__button-wrp {
    display: flex;
    justify-content: center;
    margin: 48px 0 96px 0;

    @include tablet {
      margin: 33px 0 65px 0;
    }

    @include mobile {
      margin: 41px 0 96px 0;
    }
  }

  .products__button {
    @include font (16px, 19px);
    color: $pink-color;
    padding: 14px 39px;
    border: 1px solid $pink-color;
    background: none;
  }

  .products__button:hover,
  .products__button:focus {
    color: $white-color;
    background: $btn-pink-hover;
    cursor: pointer;
  }

  .products__button:active {
    opacity: 0.7;
  }

}

