/*страница CARDS*/
.shopping{
  .shopping__wrp{
    display: flex;
    justify-content: space-between;
    margin: 96px 0 128px 0;
  }

  .shopping__item{
    display: flex;
    width: 652px;
    min-height: 306px;
    margin-bottom: 40px;
    box-shadow: 17px 19px 24px 0 #00000021;
  }

  .shopping__item-img{
    min-height: 306px;
    width: 262px;
  }

  .shopping__item-description{
    padding: 22px 0 0 31px;
    width: 390px;
    position: relative;
  }

  .shopping__item-close{
    border: none;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 28px;
    right: 22px;
  }

  .shopping__item-icon{
    fill: $menu-grey-color;
    width: 18px;
    height: 18px;
  }

  .shopping__item-close:hover .shopping__item-icon,
  .shopping__item-close:focus .shopping__item-icon{
    fill: $pink-color;
    cursor: pointer;
  }

  .shopping__item-close:active .shopping__item-icon{
    opacity: 0.7;
  }


  .shopping__item-title{
    @include font (24px, 29px);
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 42px;
  }

  .shopping__item-price,
  .shopping__item-color,
  .shopping__item-size,
  .shopping__item-quantity{
    @include font (22px, 26px);
    color: $darkgrey-color;
    text-align: left;
    margin-bottom: 6px;
  }

  .shopping__item-price-red{
    color: $pink-color;
  }

  .shopping__item-input{
    @include font (18px, 22px);
    width: 43px;
    height: 24px;
    border: 1px solid $shopping-input-grey;
    box-sizing: border-box;
    margin-left: 24px;
    color: $darkgrey-color;
    text-align: center;
  }

  .shopping__btn{
    display: flex;
    justify-content: space-between;
  }

  .shopping__btn-wrp{
    @include font (14px, 17px, normal, 300);
    border: 1px solid $shopping-input-grey;
    color: $black-bkg;
    background: none;
    padding: 16px 40px;
    text-transform: uppercase;
  }

  .shopping__address{
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .shopping__address-title{
    @include font (16px, 19px, normal, 300);
    text-align: left;
    color: $black-bkg;
    text-transform: uppercase;
  }

  .shopping__address-input{
    @include font (13px, 16px, normal, 300);
    border: 1px solid $shopping-input-grey;
    padding: 13px 0 16px 17px;
    margin-top: 21px;
    box-sizing: border-box;
    color: $black-bkg;
    text-align: left;
  }

  .shopping__address-input::placeholder{
    color: $shopping-text-grey;
  }

  .shopping__address-input:hover,
  .shopping__address-input:focus,
  .shopping__item-input:hover,
  .shopping__item-input:focus{
    outline: 2px solid $pink-color;
  }

  .shopping__address-btn{
    @include font (11px, 13px, normal, 300);
    border: 1px solid $shopping-input-grey;
    background: none;
    padding: 11px 14px;
    text-transform: uppercase;
    color: $darkgrey-color;
    margin: 24px 0 57px 0;
  }

  .shopping__btn-wrp:hover,
  .shopping__btn-wrp:focus,
  .shopping__address-btn:hover,
  .shopping__address-btn:focus{
    color: $white-color;
    background: $pink-color;
    cursor: pointer;
  }

  .shopping__btn-wrp:active,
  .shopping__address-btn:active{
    opacity: 0.7;
  }

  .shopping__total{
    width: 360px;
    height: 214px;
    background: #F5F3F3;
    padding: 39px 43px 42px 44px;
    box-sizing: border-box;
  }

  .shopping__total-sub{
    @include font (11px, 13px);
    text-align: right;
    text-transform: uppercase;
    color: $sales-color;
    margin-bottom: 12px;
  }

  .shopping__total-grand{
    @include font (16px, 19px, normal, 300);
    text-align: right;
    text-transform: uppercase;
    color: $black-bkg;
    margin-bottom: 21px;
  }

  .shopping__total-end{
    color: $pink-color;
    font-weight: 700;
  }

  .shopping__total-btn{
    @include font (16px, 19px, normal, 300);
    height: 50px;
    width: 273px;
    background: $pink-color;
    border: none;
    text-transform: uppercase;
    color: $white-color;
    margin-top: 17px;
  }

  .shopping__total-btn:hover,
  .shopping__total-btn:focus{
    background: $btn-pink-hover;
    cursor: pointer;
  }

  .shopping__total-btn:active{
    opacity: 0.7;
  }

  //javascript для функции
  .display-none {
    display: none;
  }
}
